<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Application error</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>	
		<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/import.css'}" />              
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{500 exception /}
        #{/if}
        #{else}
            
            #{if exception instanceof play.exceptions.PlayException}
            	<!-- //
				<h1>Oops, an error occured</h1>            
                <p> 
                    This exception has been logged with id <strong>${exception.id}</strong>   
                </p> -->                                 
				<div id="errorPageContainer">
					<div class="errorPage2">
						<h1><img src="@{'/public/images/common/txt_error1.gif'}" alt=""></h1>
						<div class="errorBox">
							<p><img src="@{'/public/images/common/txt_error2.gif'}" alt=""></p>
						</div><!-- //errorBox -->
						<p class="errorBtn">
							<a href="javascript:history.back();"><img src="@{'/public/images/common/btn_gotoBack.gif'}" alt=""></a>
						</p><!-- /errorBtn -->
					</div><!-- //errorPage1 -->
					<div id="error_footer">
						<div class="cp">
							<p class="logo"><img src="@{'/public/images/common/footer_error1.gif'}" alt="JEI biz"></p>
							<p class="copy"><img src="@{'/public/images/common/footer_error2.gif'}" alt="copyright(c) jei corporation. all rights reserved."></p>
						</div>
					</div><!-- //error_footer -->
				</div><!-- //errorPageContainer -->                    
            #{/if}
        #{/else}
    </body>
</html>
