#{extends '/user/sub.html' /} 
#{set title:'홈 > 이용안내' /} 

<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="menuNum" id="menuNum" value="211" />	

<!-- sub title -->
<div class="sub_title">
	<h3 class="st1">
		<strong><span class="blind">배치도</span></strong>
		<p><span class="blind">고객님의 미팅을 고려한 최상의 공간을 제공합니다.</span></p>
	</h3>
	<ul class="breadcrumb">
		<li class="home"><a href="/">Home</a></li>
		<li><a href="/guide/business/chart">이용안내</a></li>
		<li>비즈니스미팅공간</li>
		<li class="current">배치도</li>
	</ul>
</div>
<!-- //sub title -->

<div class="contents">
	<p><img src="/public/images/guide/business_chart_visual.jpg" alt="스마트 비즈니스미팅공간" /></p>
	<p class="chart_info">BIZ STUDIO 내 비즈니스 미팅공간은 프리미엄 1인실, 2~3인실, 4~5인실, 6~7인실, 8~9인실로 구성되어있습니다.  <br />(12, 20인실 예정 중)<br /><br />모든 공간에는 최첨단 사양의 데스크 탑이 설치되어 있으며 고객님들이 미팅에만 집중할 수 있도록 넓고 쾌적한  <br />공간으로 기획되었습니다. 또한, 일부 공간(6~7인실)에서는 서울시청 앞 환구단(문화재 사적 제 175호)의 경치를 <br />즐기실 수 있으며, 1인실에서는 최고급 의자를 비치하여 업무와 함께 편안한 휴식을 취하실 수 있습니다.</p>
	<p><img src="/public/images/guide/business_chart_img.jpg" alt="비즈니스미팅공간 배치도" /></p>
</div><!-- //contents -->