#{extends '/user/sub.html' /} 
#{set title:'홈 > 이용안내' /}

<script type="text/javascript" charset="UTF-8" src="@{'/public/javascripts/guide.js'}"></script>



<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="menuNum" id="menuNum" value="212" />	

<!-- sub title -->
<div class="sub_title">
	<h3 class="st2">
		<strong><span class="blind">공간 소개</span></strong>
		<p><span class="blind">최첨단 시설로 고객님의 성공을 지원합니다.</span></p>
	</h3>
	<ul class="breadcrumb">
		<li class="home"><a href="/">Home</a></li>
		<li><a href="/guide/business/chart">이용안내</a></li>
		<li>비즈니스미팅공간</li>
		<li class="current">공간소개</li>
	</ul>
</div>
<!-- //sub title -->

<div class="contents">
	<p><img src="/public/images/guide/business_space_visual.jpg" alt="미팅에 격을 높이는 차별화된 프리미엄 공간" /></p>


	<div class="space_type">
		<div class="space_select">
			<div class="space_select_bg">
				<span><img src="/public/images/guide/title_space_type.gif" alt="공간타입" /></span>
				<select name="noteType" space="business" parameter="${type}">
					<option value="0" >프리미엄 1인실 P-1, 2</option>
					<option value="1" >미팅룸 2~3인실 M-1, 2, 3, 4</option>
					<option value="2" >세미나룸 4~5인실 S-1, 2, 3</option>
					<option value="3" >세미나룸 4~5인실 S-4</option>
					<option value="4" >컨퍼런스룸 6~7인실 C-1, 2</option>
					<option value="5" >컨퍼런스룸 6~7인실 C-3</option>
					<option value="6" >컨퍼런스룸 8인실 C-4</option>
					<option value="7" >컨퍼런스룸 8~9인실 C-5</option>
				</select>
				<input class="input_btn goBookingBusiness" type="image" alt="예약하기" src="/public/images/guide/btn_booking.gif">
			</div>
		</div>
		<div id="space_0">
			<p class="info">단독으로 이용이 가능한 프리미엄 1인실에서는, 2인실 규모의 여유로운 공간 내에 고급 의자와 첨단 터치형 올인원 PC를<br> 모두 이용하실 수 있으며 기본 1시간 단위로 필요한 시간만큼만 사용하실 수 있는 효율적인 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_p12_01.jpg" id="semiGallery_0" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_0">
						<li class="first"><img src="/public/images/guide/thumb_p12_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_p12_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_p12_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 1명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>4,000원(기본 1시간)</strong><span class="note_attach star">30분 단위 2,000원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- 넓고 아늑한 실내 공간</dd>
						<dd>- 고급 의자</dd>
						<dd>- 터치형 올인원 PC 무료 사용</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 터치형 올인원 PC</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd></dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_1" style="display:none;">
			<p class="info">여유로운 공간에 LED 모니터와 데스크탑, 컬러유리보드가 설치된 미팅룸은 업무 집중도를 높일 수 있는 인테리어와 쾌적한 환기시스템을 갖춘 공간으로 2~3명의 인원이 비즈니스 미팅, 컨설팅, 스터디, 개별 면접, 상담, 분임 토의 등으로 이용하시기에 적합한 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_m1234_01.jpg" id="semiGallery_1" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_1">
						<li class="first"><img src="/public/images/guide/thumb_m1234_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_m1234_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_m1234_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 최소 2명, 최대 3명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- LED 모니터 설치</dd>
						<dd>- 여유로운 공간</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_2" style="display:none;">
			<p class="info">4~5인이 여유롭게 세미나, 미팅, 스터디가 가능한 세미나룸으로 32인치 LED 모니터와 데스크탑, 컬러유리보드가 기본적으로 구비되어 있어 편리하게 이용하실 수 있습니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_s3_01.jpg" id="semiGallery_2" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_2">
						<li class="first"><img src="/public/images/guide/thumb_s3_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_s3_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_s3_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 최소 4명, 최대 5명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- LED 모니터 설치</dd>
						<dd>- S-1, S-2는 4인실</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_3" style="display:none;">
			<p class="info">4~5인이 여유롭게 세미나, 미팅, 스터디가 가능한 세미나룸으로 32인치 LED 모니터와 데스크탑, 컬러유리보드가 기본적으로 구비되어 있어 편리하게 이용하실 수 있으며, 외부창을 통해 원구단의 조망과 쾌적한 환기가 가능한 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_s4_01.jpg" id="semiGallery_3" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_3">
						<li class="first"><img src="/public/images/guide/thumb_s4_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_s4_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_s4_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 최소 4명, 최대 5명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- <strong>외부창으로 환구단 조망 가능</strong></dd>
						<dd>- LED 모니터 설치</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_4" style="display:none;">
			<p class="info">6~7인을 위한 회의, 프리젠테이션에 적합한 컨퍼런스 룸으로 서울시청 광장과 원구단 조망까지도 가능하여 회의실 이용 뿐 아니라 가벼운 휴식과 즐거운 담소도 나누실 수 있는 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_c12_01.jpg" id="semiGallery_4" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_4">
						<li class="first"><img src="/public/images/guide/thumb_c12_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c12_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c12_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 최소 6명, 최대 7명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- <strong>외부창으로 환구단 조망 가능</strong></dd>
						<dd>- LED 모니터 설치</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_5" style="display:none;">
			<p class="info">6~7인을 위한 회의, 프리젠테이션에 적합한 컨퍼런스 룸으로 조선호텔을 바라보는 외부창을 통해 자연채광과 쾌적한 환기가 가능하여 회의실 이용 뿐 아니라 가벼운 휴식과 즐거운 담소도 나누실 수 있는 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_c3_01.jpg" id="semiGallery_5" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_5">
						<li class="first"><img src="/public/images/guide/thumb_c3_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c3_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c3_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 최소 6명, 최대 7명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- <strong>외부창으로 조선호텔 조망 가능</strong></dd>
						<dd>- LED 모니터 설치</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_6" style="display:none;">
			<p class="info">조선호텔을 바라보는 일면 외부창을 통한 자연채광과 환기로 밝고 화사한 8인용 컨퍼런스룸으로 대형 LED 모니터를 통해 프리젠테이션, 합사 회의, 강의, 고객 초청 모임 등 대내외 행사를 위하여 사용하시기에 최적의 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_c45_01.jpg" id="semiGallery_6" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_6">
						<li class="first"><img src="/public/images/guide/thumb_c45_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c45_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c45_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 8명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- <strong>외부창으로 조선호텔 조망 가능</strong></dd>
						<dd>- 대형 LED 모니터 설치</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
		<div id="space_7" style="display:none;">
			<p class="info">조선호텔을 바라보는 일면 외부창을 통한 자연채광과 환기로 밝고 화사한 8~9인용 컨퍼런스룸으로 대형 LED모니터를 통해 프리젠테이션, 합사 회의, 강의, 고객 초청 모임 등 대내외 행사를 위하여 사용하시기에 최적의 공간입니다.</p>
			<div class="space_infoBox">
				<div class="space_thumb">
					<div class="view"><img src="/public/images/guide/thumb_c46_01.jpg" id="semiGallery_7" alt="" /></div>
					<ul class="thumb" id="semiGalleryList_7">
						<li class="first"><img src="/public/images/guide/thumb_c46_01.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c46_02.jpg" alt="" /></li>
						<li><img src="/public/images/guide/thumb_c46_03.jpg" alt="" /></li>
					</ul>
				</div>
				<div class="space_info">
					<dl>
						<dt>이용인원수 : 8~9명</dt>
					</dl>
					<dl>
						<dt>이용요금</dt>
						<dd><strong>6,000원(기본 2시간)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></dd>
					</dl>
					<dl>
						<dt>특이사항</dt>
						<dd>- <strong>외부창으로 조선호텔 조망 가능</strong></dd>
						<dd>- 대형 LED 모니터 설치</dd>
					</dl>
					<dl>
						<dt>지원사항</dt>
						<dd>- 데스크탑</dd>
						<dd>- 유무선인터넷</dd>
						<dd>- 고급 사무가구</dd>
						<dd>- 컬러유리보드</dd>
					</dl>
					<dl class="last">
						<dt>공통사항</dt>
						<dd>- 복합기 이용 가능</dd>
						<dd>- 커피 음료 할인</dd>
					</dl>
				</div>
				<p class="clear"></p>
			</div>
		</div>
	</div>
	<div class="space_list">
		<table cellspacing="0" border="0" summary="공간 소개">
		<colgroup><col width="100"><col width="90"><col width="75"><col width="75"><col width="*"></colgroup>
		<thead>
		<tr>
			<th scope="col"><img src="/public/images/guide/th_txt_cafeClass.gif" alt="구분"></th>
			<th scope="col"><img src="/public/images/guide/th_txt_cafeName.gif" alt="명칭"></th>
			<th scope="col"><img src="/public/images/guide/th_txt_minNum.gif" alt="최소정원"></th>
			<th scope="col"><img src="/public/images/guide/th_txt_maxNum.gif" alt="최대정원"></th>
			<th scope="col"><img src="/public/images/guide/th_txt_pricePerson.gif" alt="요금(인당)"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td rowspan="2">1인실</td>
			<td>P-1</td>
			<td rowspan="2">1</td>
			<td rowspan="2">1</td>
			<td class="rb" rowspan="2"><strong>4,000원(1시간당)</strong><span class="note_attach star">30분 단위 2,000원 증액</span></td>
		</tr>
		<tr>
			<td>P-2</td>
		</tr>
		<tr>
			<td rowspan="4">2~3인실</td>
			<td>M-1</td>
			<td rowspan="4">2</td>
			<td rowspan="4">3</td>
			<td class="rb" rowspan="13"><strong>6,000원(2시간당)</strong><span class="note_attach star">30분 단위 1,500원 증액</span></td>
		</tr>
		<tr>
			<td>M-2</td>
		</tr>
		<tr>
			<td>M-3</td>
		</tr>
		<tr>
			<td>M-4</td>
		</tr>
		<tr>
			<td rowspan="2">4인실</td>
			<td>S-1</td>
			<td rowspan="2">4</td>
			<td rowspan="2">4</td>
		</tr>
		<tr>
			<td>S-2</td>
		</tr>
		<tr>
			<td rowspan="2">4~5인실</td>
			<td>S-3</td>
			<td rowspan="2">4</td>
			<td rowspan="2">5</td>
		</tr>
		<tr>
			<td>S-4</td>
		</tr>
		<tr>
			<td rowspan="3">6~7인실</td>
			<td>C-1</td>
			<td rowspan="3">6</td>
			<td rowspan="3">7</td>
		</tr>
		<tr>
			<td>C-2</td>
		</tr>
		<tr>
			<td>C-3</td>
		</tr>
		<tr>
			<td>8인실</td>
			<td>C-4</td>
			<td>8</td>
			<td>8</td>
		</tr>
		<tr>
			<td>8~9인실</td>
			<td>C-5</td>
			<td>8</td>
			<td>9</td>
		</tr>

		</tbody>
		</table>
	</div>

</div><!-- //contents -->