#{extends '/user/sub.html' /} 
#{set title:'홈 > 이용안내' /} 

<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="menuNum" id="menuNum" value="23" />	

<!-- sub title -->
<div class="sub_title">
	<h3 class="st5">
		<strong><span class="blind">카페</span></strong>
		<p><span class="blind">100% 아라비카 원두의 깊은 맛을 느껴보세요.</span></p>
	</h3>
	<ul class="breadcrumb">
		<li class="home"><a href="/">Home</a></li>
		<li><a href="/guide/business/chart">이용안내</a></li>
		<li class="current">카페</li>
	</ul>
</div>
<!-- //sub title -->

<div class="contents">
	<p><img src="/public/images/guide/cafe_visual.jpg" alt="신선한 아라비카 원두의 맛과 향" /></p>
	<div class="cafe_img">
		<ul>
			<li><img src="/public/images/guide/img_cafe01.jpg" alt="카페 인테리어1" /></li>
			<li><img src="/public/images/guide/img_cafe02.jpg" alt="카페 인테리어2" /></li>
			<li><img src="/public/images/guide/img_cafe03.jpg" alt="카페 인테리어3" /></li>
		</ul>
	</div>
	<p class="cafe_info">BIZ STUDIO 카페에서는 갓 볶아 신선한 아라비카 원두만을 사용하여 향이 깊고 <br />풍미가 좋은 커피를 합리적인 가격에 제공해 드리며, 또한 서울시청 광장과 덕수궁이 한 눈에 바라 보이는 실내에서 색다른 운치도 느껴보실 수 있습니다.</p>
	
	<div class="cafe_list">
		<table cellspacing="0" border="0" summary="카페 메뉴">
		<colgroup><col width="140"><col width="*"><col width="115"></colgroup>
		<thead>
		<tr>
			<th scope="col"><img src="/public/images/guide/th_txt_cafeClass.gif" alt="구분"></th>
			<th scope="col"><img src="/public/images/guide/th_txt_cafeName.gif" alt="명칭"></th>
			<th scope="col"><img src="/public/images/guide/th_txt_cafePrice.gif" alt="가격"></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="cate" rowspan="7">커피</td>
			<td class="">에스프레소</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">아메리카노</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">카페라떼</td>
			<td class="">3,800원</td>
		</tr>
		<tr>
			<td class="">카푸치노</td>
			<td class="">3,800원</td>
		</tr>
		<tr>
			<td class="">바닐라라떼</td>
			<td class="">4,000원</td>
		</tr>
		<tr>
			<td class="">카라멜 마끼아또</td>
			<td class="">4,000원</td>
		</tr>
		<tr>
			<td class="">카페모카</td>
			<td class="">4,000원</td>
		</tr>
		<tr>
			<td class="cate" rowspan="6">차</td>
			<td class="">얼그레이 라벤더</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">골든플라워(캐모마일)</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">스위트 진저 피치</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">아이스티(레몬/복숭아)</td>
			<td class="">2,500원</td>
		</tr>
		<tr>
			<td class="">레몬에이드</td>
			<td class="">3,000원</td>
		</tr>
		<tr>
			<td class="">유자차</td>
			<td class="">3,000원</td>
		</tr>
		<tr>
			<td class="cate" rowspan="3">기타 음료</td>
			<td class="">초코라떼</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">녹차라떼</td>
			<td class="">3,500원</td>
		</tr>
		<tr>
			<td class="">탄산음료</td>
			<td class="">2,500원</td>
		</tr>
		</tbody>
		</table>
	</div>
	
</div><!-- //contents -->