#{extends '/user/sub.html' /} 
#{set title:'홈 > 이용안내' /} 

<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="menuNum" id="menuNum" value="221" />	

<!-- sub title -->
<div class="sub_title">
	<h3 class="st3">
		<strong><span class="blind">배치도</span></strong>
		<p><span class="blind">1,2인 기업을 위한 최적의 비즈니스 사무실입니다.</span></p>
	</h3>
	<ul class="breadcrumb">
		<li class="home"><a href="/">Home</a></li>
		<li><a href="/guide/business/chart">이용안내</a></li>
		<li>소호사무실</li>
		<li class="current">배치도</li>
	</ul>
</div>
<!-- //sub title -->

<div class="contents">
	<p><img src="/public/images/guide/soho_space_visual.jpg" alt="1~2인 기업용 소호사무실" /></p>
	<p class="chart_info">BIZ STUDIO 내 소호사무실은 1인실, 2인실로(확장 예정 중) 구성되어 있습니다. 장기간 사용하시는 고객 여러분들을<br />위하여 모든 공간은 넓고 여유롭게 사용하실 수 있도록 기획되었으며, 프린터기가 각 실별로 기본 구비되어 <br />신속하고 편리하게 업무를 처리하실 수 있습니다. 또한, 세미나 룸도 이용이  가능하시며<br />같은 공간에 위치한 아라비카 원두의 깊은 풍미를 자랑하는 카페 공간도 즐기실 수 있습니다.</p>
	<p><img src="/public/images/guide/soho_chart_img.jpg" alt="소호사무실 배치도" /></p>
</div><!-- //contents -->