#{extends 'admin/adminMain.html' /} 
#{set title:'비즈니스 미팅공간 예약관리 > 예약 내역 보기' /} 
#{set 'moreScripts'}
<script type="text/javascript" charset="UTF-8" src="@{'/public/javascripts/jquery/jquery.validate.min.js'}"></script>
<script type="text/javascript" charset="UTF-8" src="@{'/public/javascripts/jeicommon.js'}"></script>
<script type="text/javascript" charset="UTF-8" src="@{'/public/javascripts/complete_booking.js'}"></script>
#{/set}
<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="adminMenuNum" id="adminMenuNum" value="32" />

<h3>등록</h3>
				<div class="breadcrumb">
					<ul><li class="home"><a href="/admin">홈</a></li><li><a href="/admin/booking/soho/complete/${Reserver.resIdx}">소호사무실 예약관리</a></li><li class="current">등록</li></ul>
				</div><!-- //breadcrumb -->

				
				<div class="board_complete" id="print_page">
						<table cellspacing="0" border="0" summary="예약완료">
						<colgroup>
						<col width="130"><col width="*"></colgroup>
						<thead>
						<tr>
							<th class="txt_complete" scope="col" colspan="2">${Reserver.resUserName}(${Reserver.resUserID})님의 예약 신청이 완료되었습니다.</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th class="tit">예약번호</th>
							<td><strong>${Reserver.resIdx}</strong></td>
						</tr>
						<tr>
							<th class="tit">휴대폰 번호</th>
							<td>${Reserver.resPhone}</td>
						</tr>
						<tr>
							<th class="tit">이메일</th>
							<td>${Reserver.resEmail}</td>
						</tr>
						<tr>
							<th class="tit">신청일</th>
							<td>${Reserver.regDate}</td>
						</tr>
						<tr>
							<th class="tit">예약</th>
							<td><span class="txt_blue">${Reserver.resDate}</span></td>
						</tr>
						<tr>
							<th class="tit">예약기간</th>
							<td><span class="txt_blue">${Reserver.resMonthNum}개월</span></td>
						</tr>
						<tr>
							<th class="tit">부스</th>
							<td>
							#{list items:roomlists,as:'roominfo' }
							<p><span class="txt_blue">${roominfo.roomcode}</span> ( ${roominfo.roomname02} ${roominfo.roomname03} ) <input type="image" src="@{'/public/images/booking/btn_gotobooth.gif'}" onclick="$.linkroom('${roominfo.roomSourceCode}');" alt="공간소개 바로가기" class="input_btn"></p>
							#{/list}
							</td>
						</tr>
						<tr>
							<th class="tit">인원</th>
							<td><span class="txt_blue">${Reserver.resPerson}인</span></td>
						</tr>
						<tr>
							<th class="tit">확인전화번호</th>
							<td><span class="txt_blue">${Reserver.resPhone}</span> <span class="note_attach star">예약 후 바로 예약이 확정되지 않으며 별도 예약확인 전화를 드립니다.</span></td>
						</tr>
						<tr>
							<th class="tit">총 비용</th>
							<td><span class="note_attach star">소호사무실 대여요금은 별도 전화 문의 (02-3670-0184)</span></td>
						</tr>
						<tr>
							<td class="info" colspan="2"><span class="note_attach star">예약취소는 예약 현황에서 취소하실 수 있습니다.</span></td>
						</tr>
						</tbody>
						</table>
					</div>
				
				
				<div class="board_btnarea">
					<a class="inputBtn" href="javascript:onclick=$.print('admin');"><span style="width:80px;"><img src="@{'/public/admin/images/btn_print.gif'}" alt="인쇄하기"> 인쇄하기</span></a>
				</div><!-- //btnArea -->


