#{extends 'adminMain.html' /} 
#{set title:'UI 공통 모듈 샘플' /} 
#{set 'moreScripts'}
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/jquery/jquery.validate.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/jeicommon.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/admin/javascripts/validation.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/calendar2.js"></script>
#{/set}
<h3>폼입력값 validate</h3>
<div class="breadcrumb">
	<ul><li class="home"><a href="">홈</a></li></ul>
</div><!-- //breadcrumb -->


<div id="divInfo" style="display:black;">
	<div class="board_vWrite">
		<table cellspacing="0" border="0" summary="관리자 관리 등록">
			<form id="frmRegist">
			<input type="hidden" id="actionType" value="regist">
			<colgroup>
				<col width="140px">
				<col width="">
			</colgroup>
			<tbody>
				<tr>
					<th class="tit">좋아하는 커피<span class="must"><span class="blind">*</span></span></th>
					<td>
						<select name="userLevel" id="userLevel"> 
							<option value="">-선택-</option>						
							<option value="A">아메리카노</option>
							<option value="M">카페모카</option>
							<option value="R">카페라떼</option>
						</select>
						*select 박스 필수 선택 체크
					</td>
				</tr>
				<tr>
					<th class="tit">등록일</th>
					<td id="txtRegDate">
						<input class="input_txt" type="text" id="regDate" name="regDate" value="" style="ime-mode: active; width: 100px" readOnly/><span id="btnCalendar" style="cursor:pointer; _cusor:hand;" >[달력]</span>
						*달력 레이어를 통해서 날짜 선택
					</td>
				</tr>				
				<tr>
					<th class="tit">아이디<span class="must"><span class="blind">*</span> </span></th>
					<td>
						<input class="input_txt" type="text" id="userID" name="userID" value="" maxlength="10" style="ime-mode: active; width: 100px"/>
						*아이디 유효성 체크(영문소문자/숫자 조합 6~10자까지만 입력이 가능합니다 ),아이디 중복체크는 별도로 한다.
					</td>
				</tr>
				<tr>
					<th class="tit">이름<span class="must"><span class="blind">*</span> </span></th>
					<td><input class="input_txt" type="text" id="userName" name="userName" value="" style="ime-mode: active; width: 100px"/>
						*텍스트(이름) 필수입력체크,maxlength체크,한글/영문만 입력체크	
					</td>
				</tr>				
				<tr>
					<th class="tit">소속</th>
					<td><input class="input_txt" type="text" id="department" name="department" value="" style="ime-mode: active; width: 200px" />
					</td>
				</tr>
				<tr>
					<th class="tit">나이<span class="must"><span class="blind">*</span> </span></th>
					<td><input class="input_txt" type="text" id="userage" name="userage" value="" style="ime-mode: active; width: 100px" maxlength="10" />*숫자만입력</td>
				</tr>				
				<tr>
					<th class="tit">이메일</th>
					<td>
						<input type="text"  name="userMail" id="userMail" value=""> 1.주소와 도에민을 합쳐서 하나의 인풋박스로 입력하는경우<br>
						<input type="hidden"  name="email" id="email" value=""> 
						<input class="input_txt" type="text" id="email1" name="email1" value="" style="ime-mode: active; width: 100px" />@
						<select name="email_addr2" id="email_addr2">
							<option value="naver.com" >naver</option>
							<option value="gmail.com">gmail</option>
							<option value="">직접입력</option>
						</select>
						<input type="text" style="ime-mode:active;width:100px" value="" id="email2" name="email2"  class="input_txt">2.주소와 도메인을 나눠서 2개의 인풋박스로 입력하는경우<br>					
						*email형식 유효성 체크,직접입력 선택시에만 도메인 입력활성
					</td>
				</tr>				
				<tr>
					<th class="tit">전화번호</th>
					<td><input type="hidden"  name="tel" id="tel">
						<select id="tel1" name="tel1">
							<option value="">-선택-</option>					
							<option value="02">서울(02)</option>
							<option value="031">경기(031)</option>
						</select>
						<input class="input_txt" type="text" id="tel2" name="tel2" value="" maxlength="4" style="ime-mode: active; width: 50px" />					
						<input class="input_txt" type="text" id="tel3" name="tel3" value="" maxlength="4" style="ime-mode: active; width: 50px" />
						*숫자만 입력가능,minlength,maxlength 체크
					</td>
				</tr>
				<tr>
					<th class="tit">핸드폰</th>
					<td><input type="hidden"  name="hp" id="hp">
						<select id="hp1" name="hp1">
							<option value="">-선택-</option>					
							<option value="010">010</option>
							<option value="019">019</option>
						</select>
						<input class="input_txt" type="text" id="hp2" name="hp2" value="" maxlength="4" style="ime-mode: active; width: 50px" />					
						<input class="input_txt" type="text" id="hp3" name="hp3" value="" maxlength="4" style="ime-mode: active; width: 50px" />		
						*전화번호,핸드폰 둘중 하나 필수 입력 체크			
					</td>
				</tr>				
				<tr>
					<th class="tit">비밀번호<span class="must"><span class="blind">*</span> </span></th>
					<td><input class="input_txt" type="password" id="userPasswd" name="userPasswd" value="" style="ime-mode: active; width: 100px" maxlength="10" caption="비밀번호" /></td>
				</tr>
				<tr>
					<th class="tit">비밀번호 확인<span class="must"><span class="blind">*</span> </span></th>
					<td><input class="input_txt" type="password" id="userPasswdConfirm" name="userPasswdConfirm" value="" style="ime-mode: active; width: 100px" maxlength="10"  caption="비밀번호 확인"/></td>
				</tr>
								
				<tr>
					<th class="tit">활성상태</th>
					<td>
						<input class="input_radio" type="radio" name="userState" id="userState" value="1" /><label>활성</label>
						<input class="input_radio" type="radio" name="userState" id="userState" value="2" /><label>비활성</label>					
					</td>
				</tr>
				<tr>
					<th class="tit">배포범위</th>
					<td>
						<input type="checkbox" name="distribute_all" id="distribute_all" value="" /><label>전체</label><br>
						<input type="checkbox" name="distribute"  value="1" /><label>공지</label>
						<input type="checkbox" name="distribute"  value="2" /><label>Sticky</label>
						<input type="checkbox" name="distribute"  value="3" /><label>일반</label>
						<input type="checkbox" name="distribute"  value="4" /><label>인기</label>		
						*전체에 체크하면 전체선택되고, 전체가 아닌것 선택하면 전체는 체크해제되도록			
					</td>
				</tr>						
				<tr>
					<th class="tit">전체선택/해제 togle <input type="checkbox" name=check_all id="check_all" value="" /></th>
					<td>
						<input type="checkbox" name="chk" value="1" /><label>공지</label>
						<input type="checkbox" name="chk" value="2" /><label>Sticky</label>
						<input type="checkbox" name="chk" value="3" /><label>일반</label>
						<input type="checkbox" name="chk" value="4" /><label>인기</label>						
					</td>	
				</tr>		
				<tr>
					<th class="tit">업로드파일 확장자 체크</th>
					<td>
						 <input class="input_file" type="file" name="fileField1" id="fileField1"/>썸네일이미지<br>
						<input class="input_file" type="file" name="fileField2" id="fileField2" />이미지,문서등 모든파일 <br>
						
						*파일확장자 체크(파일업로드 금지 확장자체크,성격에 맞는 확장자 파일만 업로드 가능하도록 체크등)
					</td>	
				</tr>								
				
			</tbody>
			</form>
		</table>
	</div>
	<!-- //board_vWrite -->

	<div class="board_btnarea">
		<input id="btnSubmit" class="input_btn" type="image" alt="관리자 정보 등록" src="@{'/public/admin/images/btn_admin_regist2.gif'}">
	</div>
	<!-- //btnArea -->
</div>

<h3>SNS 공유</h3>
<div>
<a name="sns"></a>
<span id="goFacebook"  style="cursor:pointer; _cusor:hand;" >[Facebook]</span>
<span id="goTwitter"  style="cursor:pointer; _cusor:hand;" >[Twitter]</span>
<span id="goMe2Day"  style="cursor:pointer; _cusor:hand;" >[Me2Day]</span>
</div>