#{extends '/user/sub.html' /} 
#{set title:'홈 > BIZ STUDIO 소개' /} 

<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="menuNum" id="menuNum" value="11" />	

<!-- sub title -->
<div class="sub_title">
	<h3 class="st1">
		<strong><span class="blind">BIZ STUDIO 소개</span></strong>
		<p><span class="blind">BIZ STUDIO는 스마트 비즈니스 미팅 공간을 추구합니다.</span></p>
	</h3>
	<ul class="breadcrumb">
		<li class="home"><a href="/">Home</a></li>
		<li><a href="/introduce">BIZ STUDIO 소개</a></li>
		<li class="current">BIZ STUDIO소개</li>
	</ul>
</div>
<!-- //sub title -->

<div class="contents">
	<p><img src="/public/images/introduce/introduce_visual.jpg" alt="" /></p>
	<p class="txt_intro">서울시청광장 앞 재능교육빌딩 2층에 자리한 BIZ STUDIO는 미팅이 필요하신 모든 분들이 자유롭게 이용하실 수 있는 <br />비즈니스
	미팅공간과 지식, 아이디어 및 컨텐츠 산업 발달에 따른 1인 창조 기업(프리랜서, 개인사업자)을 위한
	올인원 <br />소호사무실이 복합된 프리미엄 미팅공간입니다.<br /><br />
	BIZ STUDIO를 찾아주시는 고객분들의 성공을 위하여, 신속하고 편리하게 이용이 가능한 스마트 공간을 지향합니다.<br />
	또한, BIZ STUDIO를 이용하시는 고객 여러분들의 편의를 위하여 신선한 맛과 풍미를 자랑하는 아라비카 원두커피를 <br />BIZ STUDIO
	내 카페에서 할인된 가격으로 이용하실 수 있습니다.<br /><br />
	BIZ STUDIO는 고객님들의 성공을 위한 스마트 파트너가 되겠습니다.<br />감사합니다.
	</p>
	<div class="biz_list">
		<p><img src="/public/images/introduce/img_introduce.jpg" alt="" /></p>
		<ul>
			<li>업무 미팅공간이 필요한 비즈니스맨</li>
			<li>소규모 사무실이 필요한 프리랜서</li>
			<li>비즈니스 센터가 필요한 외국인</li>
			<li>학생, 수험생</li>
			<li>동호회 및 소모임이 필요한 일반인</li>
			<li>분임 토의, 상담 교육이 필요한 직장인</li>
		</ul>
	</div>

	<ul class="use_list">
		<li><img src="/public/images/introduce/img_introduce01.gif" alt="" /><span>모든공간 첨단 데스크탑 비치</span></li>
		<li><img src="/public/images/introduce/img_introduce02.gif" alt="" /><span>4인실 이상 대형 모니터 설치</span></li>
		<li><img src="/public/images/introduce/img_introduce03.gif" alt="" /><span>인체공학적 사무가구 제공</span></li>
		<li><img src="/public/images/introduce/img_introduce04.gif" alt="" /><span>최첨단 OA기기 설치</span></li>
		<li><img src="/public/images/introduce/img_introduce05.gif" alt="" /><span>고급스러운 휴게 공간 제공</span></li>
		<li><img src="/public/images/introduce/img_introduce06.gif" alt="" /><span>유무선 인터넷 사용 가능</span></li>
	</ul>

</div><!-- //contents -->
