#{extends 'user/sub.html' /} 
#{set title:'홈 > 아이디 패스워드 찾기' /}
#{set 'moreScripts'}
<script type="text/javascript" charset="UTF-8" src="/public/admin/javascripts/validation.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/jquery/jquery.validate.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/jeicommon.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/user.js"></script>
#{/set}

 #{stylesheet 'member.css' /}
 
<div class="idpw_form">
	<div class="idSearch">
		<h4><img src="/public/images/member/ttl_id.gif" alt="아이디찾기" /><span>아래에 입력하실 정보는 회원가입 시 입력한 내용과 <br />동일하게 입력해주세요.</span></h4>
		<form>
			<fieldset class="id_area">
				<ul>
					<li><span>이름</span><input type="text" style="ime-mode:active;width:120px" name="idUserName" id="idUserName" class="input_txt" /></li>
					<li><span>이메일</span><input type="text" style="ime-mode:active;width:120px" name="idEmail" id="idEmail" class="input_txt" /></li>
				</ul>
				<p class="btn_idpwarea"><img class="input_btn" id="btnSearchId" alt="아이디찾기" src="/public/images/member/btn_id.gif" style="cursor:pointer" /></p>
			</fieldset>
		</form>
	</div>
	<div class="pwSearch">
		<h4><img src="/public/images/member/ttl_pw.gif" alt="비밀번호" /><span>아래에 입력하실 정보는 회원가입 시 입력한 내용과 <br />동일하게 입력해주세요.</span></h4>
		<form>
		<fieldset class="id_area">
				<ul>
					<li><span>아이디</span><input type="text" style="ime-mode:active;width:120px" name="passUserID" id="passUserID" class="input_txt" /></li>
					<li><span>이름</span><input type="text" style="ime-mode:active;width:120px" name="passUserName" id="passUserName" class="input_txt" /></li>
					<li><span>이메일</span><input type="text" style="ime-mode:active;width:120px" name="passEmail" id="passEmail" class="input_txt" /></li>
				</ul>
				<p class="btn_idpwarea"><img class="input_btn" id="btnSearchPassword" alt="비밀번호 찾기" src="/public/images/member/btn_pw.gif" style="cursor:pointer" /></p>
			</fieldset>
		</form>
	</div>
	<div class="btn_idpw"><span class="note_check">아직회원이 아니십니까?</span> <a href="/user"><img alt="회원가입하기" src="/public/images/member/btn_joinGo.gif" align="absmiddle" /></a></div>
</div><!-- //idpw_form -->

<!-- 임시비밀번호 팝업 -->
<div class="pop_wrap" style="position:absolute;left:400px;top:550px;width:400px;display:none">
	<div class="pop">
		<h1><strong>안내</strong></h1>
		<p class="popBtn"><a href=""><img src="../images/common/btn_x.gif" alt="닫기" /></a></p>
		<div class="popCon">
			<p class="imsi">임시 비밀번호가 이메일 <a href="mailto:jei@jei.com">jobs@apple.com</a> 으로<br />발송되었습니다.</p>
		<p class="btn_pop"><input class="input_btn" type="image" alt="확인" src="../images/board/btn_ok.gif" /></p><!-- //btn -->
		</div><!-- popCon -->
	</div><!-- //pop -->
</div><!-- //pop_wrap -->
