#{extends 'admin/adminMain.html' /} 
#{set title:'관리자 > 통계 > 이용자현황 > 유형별 ' /}

#{set 'moreScripts'}
<script type="text/javascript" charset="UTF-8" src="/public/admin/javascripts/validation.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/jquery/jquery.validate.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/jeicommon.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/javascripts/calendar2.js"></script>
<script type="text/javascript" charset="UTF-8" src="/public/admin/javascripts/statsUser.js"></script>
#{/set}

#{stylesheet 'member.css' /}
<!-- 메뉴 번호 : 반드시 작성하세요 . -->
<input type="hidden" name="adminMenuNum" id="adminMenuNum" value="11" />

<h3>이용자현황</h3>
<div class="breadcrumb">
	<ul><li class="home"><a href="">홈</a></li><li><a href="/admin/visit">통계</a></li><li class="current">방문자 수</li></ul>
</div><!-- //breadcrumb -->
<!-- 한줄표현 작업시 -->
<div class="listHead">
	Goole Analytics로 바로가기<a href="javascript:alert('준비중입니다.')" class="innerBtn"><span>바로가기</span></a>
	#{form @admin.StatsUserManager.type(), name:"visitSearchForm", id:"visitSearchForm"}
		<fieldset class="msearch">
			<legend>리스트검색</legend>
			<input type="text" name="startDate" id="startDate" value="${startDate}">
			<input type="text" name="endDate" id="endDate" value="${endDate}">
			<a href="javascript:;" class="innerBtn" id="btnTypeSearch"><span>검색</span></a>
		</fieldset>
	#{/form}
	
</div><!-- //listHead -->
<!-- 한줄표현 작업시 -->
<hr class="line" />

<div class="tab">
	<ul>
		<li class=""><a href="/admin/stats/visit"><span>방문자별</span></a></li>
		<li class="selected"><a href="/admin/stats/type"><span>유형별</span></a></li>
	</ul>
</div><!-- //tab -->
<div class="tabContent">


	<h4>연령별</h4>
	<div class="board_list2">
		<table cellspacing="0" border="0" summary="방문자수">
		<colgroup><col width="120" /><col width="*" /></colgroup>
		<tbody>
		<tr>
			<td>~6</td>
			<td class="g_section">
				<strong>${map.age1}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats1}%;"><span>(${map.ageStats1}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>7~12</td>
			<td class="g_section">
				<strong>${map.age2}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats2}%;"><span>(${map.ageStats2}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>13~15</td>
			<td class="g_section">
				<strong>${map.age3}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats3};"><span>(${map.ageStats3}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>16~18</td>
			<td class="g_section">
				<strong>${map.age4}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats4}%;"><span>(${map.ageStats4}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>19~22</td>
			<td class="g_section">
				<strong>${map.age5}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats5}%;"><span>(${map.ageStats5}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>23~29</td>
			<td class="g_section">
				<strong>${map.age6}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats6}%;"><span>(${map.ageStats6}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>30~39</td>
			<td class="g_section">
				<strong>${map.age7}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats7}%;"><span>(${map.ageStats7}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>40~49</td>
			<td class="g_section">
				<strong>${map.age8}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats8}%;"><span>(${map.ageStats8}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>50~59</td>
			<td class="g_section">
				<strong>${map.age9}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats9}%;"><span>(${map.ageStats9}%)</span></span></p>
			</td>
		</tr>
		<tr>
			<td>60~</td>
			<td class="g_section">
				<strong>${map.age10}</strong>
				<p class="graph"><span class="bar" style="width:${map.ageStats10}%;"><span>(${map.ageStats10}%)</span></span></p>
			</td>
		</tr>
		</tbody>
		</table>
	</div><!-- /board_view -->
</div>

<div class="board_btnarea">
	<a class="inputBtn" href="javascript:alert('준비중입니다.')"><span style="width:50px;">출력하기</span></a>
	<a class="inputBtn" href="javascript:alert('준비중입니다.')"><span style="width:80px;">Excel로 저장</span></a>
</div><!-- //btnArea -->