<div id="footer">
	<ul>
		<li class="fMneu02"><a href="/cs/rules">이용약관</a></li>
		<li class="fMneu03"><a href="/cs/privacy">개인정보처리방침</a></li>
		<li class="fMneu04"><a href="/cs/emailCollect">이메일무단수집거부</a></li>
		<li class="fMneu05"><a href="/board/notice">공지사항</a></li>
		<li class="fMneu06"><a href="/cs/siteMap">사이트맵</a></li>
	</ul>
	<div class="copyright">
		<p class="logo"><a href="/" class="logo"><img src="@{'/public/images/common/footer_logo.gif'}" alt="BIZ STUDIO"></a></p>
		<p class="copy">
		<!-- 사업자번호: 202-85-04045 <span class="bar">|</span> -->주소: 서울특별시 중구 을지로 1가 192-11<span class="bar">|</span>대표번호: 02-779-0430~1<span class="bar">|</span>이메일: <script>writeEmail("master", "bizstudio")</script> <br />
		<img src="@{'/public/images/common/footer_copyright.gif'}" alt="COPYRIGHT(C) BIZ STUDIO RIGHTS RESERVED.">
		</p>
	</div>
</div><!-- //footer -->

<script type="text/javascript"s>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16360157-29']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>